.navbar-govco {
    flex-flow: wrap;
}
.navbar-govco #alert-container{
    background-color: #FFAB00;
    width: 100%;
}
.navbar-govco #alert-container span{
    font-family: Work Sans;
    letter-spacing: 0px;
    color: #124A83;
}
.navbar-govco .navbar-container{
    max-width: initial;
}
.navbar-govco .navbar-container .navbar-brand {
    padding: 0 !important;
    border: none;
}
.navbar-govco .navbar-container .navbar-brand span {
    border: solid 1px #fff;
    color: #fff;
    padding: 0 5px;
    font-size: 0.6em;
}
.navbar-govco .form-search-bar .govco-icon {
    font-size: 1.7rem;
}
.form-search-bar-active, .navbar-govco .form-search-bar input.form-control:focus{
    background-color: initial !important;
    color: #fff !important;
}
.form-search-bar-active ~ .icon-search, .navbar-govco .form-search-bar input.form-control:focus ~ .icon-search{
    color: #fff !important;
}
.navbar-govco .navbar-first-menu .navbar-login-link{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-govco .navbar-first-menu .navbar-login-link span.login-link-text-govco{
    display: initial;
    color: #fff;
    font-family: Montserrat;
}
.navbar-nav .nav-item.active, .navbar-container .navbar-first-menu .nav-item.active,
.navbar-nav .nav-item:hover, .navbar-container .navbar-first-menu .nav-item:hover,
.navbar-nav .nav-item:focus, .navbar-container .navbar-first-menu .nav-item:focus {
    border-bottom: 5px #FFAB00 solid;
    background: transparent !important;
}
.navbar-nav a:hover,.navbar-container .navbar-first-menu a:hover,
.navbar-nav a:focus,.navbar-container .navbar-first-menu a:focus{
    background:transparent !important
}
.navbar-nav .nav-item.active .nav-link, .navbar-container .navbar-first-menu .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link, .navbar-container .navbar-first-menu .nav-item:hover .nav-link,
.navbar-nav .nav-item:focus .nav-link, .navbar-container .navbar-first-menu .nav-item:focus .nav-link{
    padding-bottom: 3.21px;
}