<nav class="navbar navbar-expand-lg navbar-govco navbar-expanded fixed-top">
	<div id="alert-container">
		<div class="container">
			<span>Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</span>
			<button type="button" class="close" (click)="btnCloseAlert()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div class="navbar-container container">
		<div class="navbar-logo float-left">
			<a class="navbar-brand" href="utils.getServerWebUrl()+'/'">
				<img src="https://cdn.www.gov.co/assets/images/logo.png" height="40" alt="Logo Gov.co" />
				<span>BETA</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class=" navbar-first-menu float-right">
			<div class="nav-item-primary mr-2">
				<div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
					<input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
					type="search"
					placeholder="Buscar "
					aria-label="Search"
					name="searchTerm"
					id="search-desktop"
					/>
					<span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
				</div>
				<span class="govco-icon govco-icon-language-en-n lang-govco ml-3" (click)="changeLang()"></span>
				<div (click)="login()" class="navbar-login-link"><span class="govco-icon govco-icon-user-n lang-govco ml-3"></span><span class="login-link-text-govco">Iniciar Sesión</span></div>
			</div>
		</div>
	</div>
	<div class='nav-secondary show-transition' id="nav-secondary">
	<div class="container">
		<div class="collapse navbar-collapse navbar-first-menu">
			<ul class="navbar-nav d-flex nav-items nav-items-desktop m-auto">
				<li class="nav-item ">
					<a href="/ficha-tramites-y-servicios/" class="nav-link">Trámites y servicios</a>
				</li>
				<li class="nav-item ">
					<a href="/participacion/" class="nav-link">Participación</a>
				</li>
				<li class="nav-item ">
					<a href="/entidades/" class="nav-link">Entidades</a>
				</li>
				<li class="nav-item ">
					<a href="/entidades/" class="nav-link">Noticias</a>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
</nav>
