.content{
	width: 100%;
	margin-top: 123px;
}
.content.mt-full{
	margin-top: 96px;
}
.content .header{
	width: 100%;
	height: 400px;
	text-align: center;
	background: transparent url('../../assets/img/2nueva-bandera--agosto.png') 0% 0% no-repeat padding-box;
}
.content .header div.text-header{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.content .header div.text-header span.welcome{
	font-family: Montserrat;
	color: #fff;	
	font-size: 3.4em;
	font-weight: 300;
}
.content .header .form-search{
	justify-content: center;
}
.content .header .form-search input.search-input{
	background-color: #fff;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 24px;
	width: 50%;
	padding-right: 30px;
}
.content .header .form-search span{
	margin-left: -34px;
}
.content .header div.text-header span.text{
	font-family: "Work Sans";
	color: #fff;	
	font-size: 1.7em;
	font-weight: 300;
}
.sections-container{
	width: 90%;
    margin: 0 auto;
    padding: 30px;
    margin-top: -80px;
    background-color: #fff;
    box-shadow: 0px 3px 10px #00000033;
    border-radius: 10px;
}
.sections-container .section:not(:first-child){
	margin-top: 40px;
}
.section span.title{
	color: #0B457F;
	font-size: 2em;
    font-weight: 300;
}
.section .container-section-link{
	text-align: center;
}
.section .section-link{
    display: inline-flex;
	align-items: center;
	cursor: pointer;
}
.section .section-link span{
	color: #3772FF;
}
.section .section-link span.login-link-text-govco{
    display: initial;
    font-family: Montserrat;
}
.sections-container .events-content .list-group-item{
	padding: 0;
	border: none;
    padding-bottom: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
	margin: 15px 0;
}
.sections-container .events-content .list-group-item .bg-state{
	width: 250px;
	padding: 2px 5px;
	color: #fff;
	text-transform: uppercase;
}
.sections-container .events-content .list-group-item .bg-state.state-today{
	background-color: #F3561F;
}
.sections-container .events-content .list-group-item .bg-state.state-active{
	background-color: #069169;
}
.sections-container .events-content .list-group-item .bg-state.state-past{
	background-color: #3772FF;
}
.sections-container .events-content .list-group-item .title-event,
.sections-container .events-content .list-group-item .author-event{
	display: block;
	color: #0B457F;
	font-family: Montserrat;
	font-weight: bold;
}
.sections-container .events-content .list-group-item .author-event{
	font-weight: normal;
	display: inline-block;
}
.sections-container .events-content .list-group-item .participants-event{
	display: inline-block;
	float: right;
	color: #0B457F;
}
.sections-container .events-content .list-group-item .participants-event.participants-state-past{
	display: none;
}
.sections-container .section-events .container-section-link{
	text-align: right;
}
.sections-container .contentainer-form{
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #3772FF;
	border-radius: 10px;
	padding: 25px;
}
.sections-container .contentainer-form span:not('govco-icon'),
.sections-container .contentainer-form small{
	display: block;
	font-family: Work Sans;
	color: #0B457F;
	font-weight: normal;
}
.sections-container .contentainer-form span.title-form{
	font-size: 180%;
	text-transform: capitalize;
}
.sections-container .contentainer-form textarea{
	margin-top: 20px;
	resize: none;
}
.sections-container .contentainer-form .cont-btn{
	margin-top: 5px;
	text-align: center;
}

.sections-container .section-news .news-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.sections-container .section-news .news-card{
	border: none;
	box-shadow: none;
	padding: 0;
	width: 320px;
	height: 280px;
	position: relative;
	display: inline-flex;
    flex-direction: column;
}

.sections-container .section-news .news-lvl-1{
	flex-grow: 4;
	overflow: hidden;
  justify-content: center;
}

.sections-container .section-news .news-card img{
	border-radius: 10px;
	width: 100%;
}
.sections-container .section-news .news-card .card-body{
	background-color: #fff;
	box-shadow: 0px 3px 10px #00000080;
	border-radius: 10px;
	width: 85%;
	align-self: center;
	position: absolute;
	bottom: 15px;
}
.sections-container .section-news .news-card .card-body p,
.sections-container .section-news .news-card .card-body small{
	color: #0B457F;
}
.sections-container-no-border{
	width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.sections-container-no-border .section-interests .title{
	margin-left: 30px;
}
.sections-container-no-border .section-interests .interest-card{
	margin: 15px 0;
}
.sections-container-no-border .section-interests .container-image{
	float: left;
	width: 90px;
	height: 100%;
}
.sections-container-no-border .section-interests .container-body .card-header span{
	color: #0B457F;
    font-size: 110%;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}
.sections-container-no-border .section-interests .container-body .card-body p{
	color: #0B457F;
    line-height: 20px;
	text-align: justify;
	font-size: 90%;
}
.section-interests .container-body .container-section-link{
	text-align: right;
}