<app-header></app-header>
<div class="content" id="content-home">
  <div class="header">
		<div class="text-header">
			<span class="welcome">¡Te damos la bienvenida!</span>
		</div>
		<div class="form-inline form-search">
			<input class="form-control search-input" type="search" placeholder="Encuentra aquí lo que buscas" aria-label="Search" name="searchTerm"/>
			<span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
		</div>
		<div class="text-header">
			<span class="text">Toda la oferta del Estado colombiano a tu alcance</span>
		</div>
  </div>
  <section class="sections-container">
		<div class="section section-events">
			<div class="row">
					<div class="col-md-7">
						<span class="title description-govco">Queremos conocer tu opinión</span>
						<div class="events-content">
							<div class="list-group">
								<a *ngFor="let event of events" class="event-card list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<span class="mb-1 bg-state state-{{event.date | eventState}}">{{event.date | eventState:1}}</span>
									</div>
									<span class="mb-1 title-event">{{event.title}}</span>
									<small class="author-event">{{event.entity}}</small>
									<small class="participants-event participants-state-{{event.date | eventState}}">{{event.participants}} colombianos participando</small>
								</a>
							</div>
						</div>
						<div class="container-section-link">
							<div class="section-link">
								<span class="login-link-text-govco">Conocer otros ejercicios de participación</span>
								<span class="govco-icon govco-icon-right-arrow"></span>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="contentainer-form">
							<span class="title-form">Cuéntanos</span>
							<span class="subtitle-form">¿Cómo podemos mejorar GOV.CO?</span>
							<small>Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</small>
							<div class="textarea-govco">
								<div class="div-character" id="divtextarea-opinion">
									<textarea class="form-control" id="textarea-opinion" [(ngModel)]="opinion" maxlength="300" placeholder="Escribe aquí tu opinión" rows="5"></textarea>
									<div class="div-count-character">
										<span class="hidden span-message-character" id="messagetextarea-opinion">
												Alcanzó el máximo de carácteres permitidos
										</span>
										<span class="float-right pr-3 span-count-character" id="counttextarea-opinion">255</span>
									</div>
								</div>
							</div>
							<div class="cont-btn">
								<button class="btn btn-round btn-middle" (click)="sendOpinion()">Enviar mi opinión</button>
							</div>
							<div id="success-alert" class="alert-success-govco alert alert-dismissible fade show d-none" aria-label="Alerta: caso de éxito">
								<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar" title="Cerrar">&times;</button>
								<div class="alert-heading">
									<span class="govco-icon govco-icon-check-cn"></span>
									<span class="headline-l-govco">Tu opinión ha sido enviada.</span>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	  <div class="section section-news">
		  <span class="title description-govco">Infórmate</span>
			<div class="news-container">
				<div [class]="'news-card ' + (new.lvl === 1 ? 'news-lvl-1' : '')" *ngFor="let new of news">
					<img [src]="new.url" class="card-img govco-card-image govco-card-image-top" [alt]="new.title" />
					<div class="card-body">
						<small>{{new.date | dateFormat}}</small>
						<p>{{new.title}}</p>
					</div>
				</div>
			</div>
		  <div class="container-section-link">
				  <div class="section-link">
						  <span class="login-link-text-govco">Ver otras noticias</span>
						  <span class="govco-icon govco-icon-right-arrow"></span>
				  </div>
		  </div>
	  </div>
  </section>
    <section class="sections-container-no-border">
			<div class="section section-interests">
				<span class="title description-govco">Otros temas de tu interés</span>
				<div class="interests-content">
					<div class="row">
						<div class="col-md-6" *ngFor="let interest of interests">
							<div class="card govco-card interest-card">
								<div class="p-4">
									<div class="container-image">
										<img class="card-image" [src]="interest.image.url" alt="..." />
									</div>
									<div class="container-body">
										<div class="card-header govco-card-header p-0 pl-5">
											<span>{{interest.title}}</span>
										</div>
										<div class="card-body d-flex p-0 pl-5 mt-2">
											<p>{{interest.description}}</p>
										</div>
										<div class="container-section-link">
											<div class="section-link">
												<span class="login-link-text-govco">{{interest.link.label}}</span>
												<span class="govco-icon govco-icon-right-arrow"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </section>
</div>
<app-footer></app-footer>